.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }

  .collection-item {
    //%: % of div
    //vh: (%) of window size
    width: 22%;
    // display: flex;
    // flex-direction: column;
    // height: 350px;
    // align-items: center;
    // position: relative;
  }
}